GOOGLE_API_KEY="...."
GOOGLE_FAST_MODEL="...."
GOOGLE_EMBEDDING_MODEL="...."
GOOGLE_LLM_TEMPERATURE=0.0
GOOGLE_LLM_TOPK=1
GOOGLE_LLM_TOPP=0.0
GOOGLE_LLM_SEED=1
MAX_OUTPUT_TOKENS_PER_QUESTION=1
GOOGLE_LOGPROBS_ACTIVE=False
CHUNK_SIZE=1
CHUNK_OVERLAP=1
CHUNK_NUMBER=1